:root {
  --first-color: #304c66;
  --second-color: #7da4c9;
  --third-color: #bdc1c5;
  --fourth-color: #ecf0f5;
  --fifth-color: #444749;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--first-color);
  background-color: var(--fourth-color);
  font-family: "Montserrat";
  width: 100%;
  overflow-x: hidden;
}

/* navigation style start */
header {
  padding: 30px 0 30px 0;
  background-color: var(--first-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: solid 10px var(--second-color);
}

header h1 a:hover {
  text-decoration: none;
  color: var(--second-color);
}

header h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 15px 0 15px 45px;
}

.header-box {
  content: "";
  height: 100%;
  width: 335px;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

header a {
  text-decoration: none;
  color: var(--first-color);
}

header nav {
  margin: 20px 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 0 30px;
  font-size: 22px;
  color: white;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--second-color);
  text-decoration: none;
}

/* navigation style start */
.hero {
  background-image: url("../images/kohr-development-hero.jpg");
  height: 450px;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-subtitle {
  text-align: right;
  line-height: 1.5;
  margin: 150px 350px 0 0;
}

.hero-subtitle h2 {
  font-size: 36px;
  font-weight: lighter;
  color: var(--first-color);
}

.hero-subtitle h3 {
  font-style: italic;
  font-size: 24px;
  color: var(--first-color);
}

/* about me style start */
.about-me {
  display: flex;
}

.about-me h3 {
  height: 100px;
  width: 100px;
  font-size: 24px;
  text-align: right;
  margin: 60px 12px 0 50px;
}

.about-me p {
  flex-grow: 1;
  margin: 60px 100px 20px 10px;
  padding: 0 0 0 50px;
  font-size: 18px;
  line-height: 1.5;
  border-left: 1px solid var(--first-color);
}

.projects h3 {
  margin: 40px 12px 0 50px;
  font-size: 24px;
  text-align: right;
  width: 100px;
  height: 100px;
}

.container {
  flex-grow: 1;
  padding: 0 0 0 25px;
  margin: 40px 10px 20px 10px;
  border-left: 1px solid var(--first-color);
}

.img {
  border: 5px solid var(--first-color);
}

.img:hover {
  opacity: 70%;
}

.button {
  background-color: var(--first-color);
  font-weight: normal;
  font-size: 20px;
}

.button:hover {
  opacity: 70%;
}

.contacts {
  background-color: var(--first-color);
}

.references div {
  font-size: 14px;
  font-weight: bold;
  min-height: 3rem;
  display: flex;
  align-items: flex-end;
}

/* MEDIA QUERY FOR 1120PX SCREENS AND SMALLER */
@media screen and (max-width: 1120px) {
    header nav ul li a {
        font-size: 16px;
    }
}

/* MEDIA QUERY FOR 980PX SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    padding-bottom: 30px;
  }

  header nav {
    margin-bottom: -10px;
  }

  header nav ul li a {
    margin: 0;
    font-size: 16px;
    padding: 0 20px;
  }

  .button {
    font-size: 18px;
  }

  .references div {
    font-size: 12px;
    font-weight: bold;
    min-height: 2rem;
  }
}

/* MEDIA QUERY FOR 768PX SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .header-box {
    content: "";
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .hero-subtitle {
    margin: 150px 325px 0 100px;
  }

  .about-me {
    display: block;
  }

  .about-me h3,
  .projects h3 {
    width: 80%;
    height: 20px;
    font-size: 36px;
    text-align: left;
    margin: 30px 50px 10px 50px;
  }

  .about-me p {
    width: 80%;
    margin: 30px 65px 0 50px;
    padding: 30px 10px 0 0;
    font-size: 14px;
    line-height: 1.5;
    border-top: 1px solid var(--first-color);
    border-left: none;
  }

  .container {
    width: 100%;
    margin: 25px 0 0 50px;
    padding: 30px 15px 0 15px;
    border-top: 1px solid var(--first-color);
    border-left: none;
  }

  .button {
    font-weight: normal;
    font-size: 17px;
  }

  .references div {
    font-size: 10px;
    font-weight: bold;
    min-height: 2rem;
  }
}

/* MEDIA QUERY FOR 575PX SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    padding-bottom: 30px;
    justify-content: flex-start;
    position: relative;
  }

  header h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0 15px 35px;
  }

  header nav {
    margin-bottom: -30px;
  }

  header nav ul {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10 40 10 40px;
    font-size: 22px;
    color: white;
    font-weight: bold;
  }

  .header-box {
    content: "";
    height: 100%;
    width: 85%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .hero {
    height: 250px;
    background-size: cover;
    background-position: top;
  }

  .hero-subtitle {
    margin: 30px 225px 0 30px;
  }

  .hero-subtitle h2 {
    font-size: 22px;
  }

  .hero-subtitle h3 {
    font-size: 18px;
    margin-top: -3px;
  }

  .about-me h3, .projects h3 {
    width: 80%;
    height: 20px;
    font-size: 36px;
    text-align: left;
    margin: 30px 50px 10px 50px;
  }

  .about-me p {
    width: 80%;
    margin: 30px 65px 0 50px;
    padding: 30px 10px 0 0;
    font-size: 14px;
    line-height: 1.5;
    border-top: 1px solid var(--first-color);
    border-left: none;
  }

  .container {
    width: 100%;
    margin: 25px 0 0 50px;
    padding: 30px 15px 0 15px;
    border-top: 1px solid var(--first-color);
    border-left: none;
  }

  .button {
    font-weight: normal;
    font-size: 12px;
  }

  .references div {
    font-size: 6px;
    font-weight: bold;
    min-height: 2rem;
  }
}