:root {
  --first-color: #304c66;
  --second-color: #7da4c9;
  --third-color: #bdc1c5;
  --fourth-color: #ecf0f5;
  --fifth-color: #444749;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  color: var(--first-color);
  background-color: var(--fourth-color);
  font-family: "Montserrat";
  width: 100%;
  overflow-x: hidden;
}

/* navigation style start */
header {
  padding: 30px 0 30px 0;
  background-color: var(--fourth-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: solid 10px var(--first-color);
}

.logo{
  width: 30%;
}

.header-box {
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
}

.header-box div {
  display: flex;
  justify-content: center;
  align-content: center;
}

header nav {
  margin: 10px 12px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 0 30px;
  font-size: 20px;
  color: var(--first-color);
  letter-spacing: 4px;
}

header nav ul li a:hover {
  color: var(--second-color);
  text-decoration: none;
}

.nav-active {
  color: var(--second-color);
}

.about {
  display: flex;
  border-bottom: 1px solid var(--first-color);
}

.design h1, .webdev h1, .contact h1 {
  color: var(--first-color);
}

.resume p a, .design p a, .webdev p a {
  color: inherit;
  text-decoration: underline;
}

.container h5:hover {
  color: var(--second-color);
}

.about-img {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.img {
  border: 5px solid var(--first-color);
  height: auto;
  max-width: 1000px;
}

.img:hover {
  opacity: .7;
}

.button {
  font-weight: normal;
  font-size: 15px;
  background-color: var(--first-color);
  max-width: 100px;
}

.button-container {
  max-width: 1000px;
}

.button:hover {
  opacity: .7;
}

.footer {
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
}

.icon {
  width: 30px;
  color: var(--fourth-color);
}

.icon:hover {
  opacity: .5;
}

/* MEDIA QUERY FOR 980PX SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
  header {
    padding-bottom: 30px;
  }
  
  .logo {
    width: 30%;
  }

  header nav ul li a {
    font-size: 16px;
    padding: 0 20px;
  }

}

/* MEDIA QUERY FOR 768PX SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
  
  .logo {
    width: 35%;
  }
  
  header nav ul li a {
    padding: 0 15px;
    font-size: 13px;
    color: var(--first-color);
    letter-spacing: 2px;
  }

}

/* MEDIA QUERY FOR 575PX SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
  
  .logo {
    width: 50%;
  }

  .header-box div {
    display: flex;
    justify-content: center;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li a {
    font-size: 18px;
    color: var(--first-color);
    letter-spacing: 2px;
  }

  .design h1, .webdev h1, .contact h1 {
    font-size: 32px;
  }

  .resume h1 {
    font-size: 28px;
  }

}
